/*main body*/


/*default for all sites*/

.wrapper {
    width: 95%;
    margin: auto;
    max-width: 1600px;
}

/* header: Title and Navigation */
header {
    float: left;
    margin-top: 2%;
    margin-left: 5%;
}
/*navigator*/
nav.sitenav ul {
    list-style: none;
    text-align: center;
    float: right;
    padding-bottom: 3%;
    margin-right: 5%;
}

nav.sitenav li {
    display: inline-block;
    width: 8em;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    letter-spacing: 0.2em;
}

nav.sitenav a {
    display: block;
    font-weight: bold;
}

nav.sitenav a:link,
nav.sitenav a:visited,
nav.sitenav a:hover,
nav.sitenav a:active {
    color: ghostwhite;
    text-decoration: none;
    border-bottom: thin solid transparent;
}

nav.sitenav a:hover {
    border-bottom: thin solid whitesmoke;
}

/*Contact form*/
h1,
h2,
h3,
form,
body {
    text-align: center;
}

input[type="text"],
.input,
.input2,
.input3,
.inputs {
    background-color: lightgray;
    padding: 2px;
    border: 2px solid #888;
    color: darkgray;
    font-family: 'Lobster', cursive;
    font-size: larger;
    margin: 0.3em;
}
/*the form as a whole*/
.contactForm {
    clear: both;
    font-family: 'Playfair Display', serif;
    font-size: larger;
    font-weight: lighter;
    margin: 1% 20% 1% 20%;
    text-align: center;
    display: block;
}
/*Control the width of the text box*/
.contactForm input, textarea {
    width: 90%;
}

input[type="submit"]{
    background-color: lightgray;
}

/*footer*/
footer {
    clear: both;
    color: whitesmoke;
    padding: 1em 2em;
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: left;
    margin: 2% 2% 3% 3%;
}

/*fonts*/

h1 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3em;
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    font-weight: inherit;
}

body {
    font-size: 1.2em;
    font-weight: normal;
    font-family: Cambria, serif;
    background: url("./image/background.jpg") repeat;
    color: ghostwhite;
}
