/* @include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... } */

img {
    width: 70%;
    padding: 2%;
}

p {
    font-size: large;
    font-family: 'Playfair Display', serif;
    width: 100%;

}

#featureheadline {
    clear: both;
    text-decoration: underline;
}

.email_delivery_signup {
    border: blanchedalmond;
    padding: 2em;
    background: indianred;
}

/*Contact form*/
h1,
h2,
h3,
form,
body {
    text-align: center;
}

input[type="text"],
.input,
.input2,
.input3,
.inputs {
    background-color: lightgray;
    padding: 2px;
    border: 2px solid #888;
    color: darkgray;
    font-family: 'Lobster', cursive;
    font-size: larger;
    margin: 0.3em;
}
/*the form as a whole*/
.contactForm {
    clear: both;
    font-family: 'Playfair Display', serif;
    font-size: larger;
    font-weight: lighter;
    margin: 1% 20% 1% 20%;
    text-align: center;
    display: block;
}
/*Control the width of the text box*/
.contactForm input, textarea {
    width: 90%;
}

input[type="submit"]{
    background-color: lightgray;
}

/* ================================= */
/*default for all sites*/

#logoMC {
    width: 28em;
    float: left;
    margin: auto;
}

.wrapper {
    width: 93%;
    margin-right: 6%;
    margin-left: 1%;
    max-width: 1600px;
}

nav.sitenav ul {
    list-style: none;
    text-align: center;
    float: right;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 5%;
    font-size: 1.25em;
}

nav.sitenav li {
    display: inline-block;
    width: 8em;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

nav.sitenav a {
    display: block;
    font-weight: bold;
}

nav.sitenav a:link,
nav.sitenav a:visited,
nav.sitenav a:hover,
nav.sitenav a:active {
    color: ghostwhite;
    text-decoration: none;
    border-bottom: thin solid transparent;
}

nav.sitenav a:hover {
    border-bottom: thin solid whitesmoke;
}

/* Typography */
h1 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3em;
    line-height: 1.05em;
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: 2.25em;
    line-height: 1.25em;
    font-weight: inherit;
}

h3 {
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: 1.75em;
    line-height: 1.25em;
    font-weight: inherit;
}

body {
    font-size: 1em;
    line-height: 1.375em;
    font-weight: normal;
    font-family: Cambria, serif;
    background: #000;
    /* background: url("./image/background.jpg") repeat; */
    color: ghostwhite;
}

blockquote {
    font-size: 1.5em;
    line-height: 1.45833333em;
}

#filter-buttons button {
    border-radius: 6px;
    min-width: 8%;
    font-size: 24px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 6px;
}

/*social media footer*/
#social_media {
    float: right;
    position: fixed;
    top: 10%;
    right: 2%;
    z-index: 99;
    font-size: 1.5em;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: auto;
    border-radius: 4px;
}

#social_media li {
    line-height: 2em;
}

ul,
li .container {
    list-style: none;
}

/*scroll to top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    font-size: 1em;
    font-weight: bold;
    border: none;
    outline: none;
    background-color:  rgba(255, 255, 255, 0.931);;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    opacity: 0.7;
}